I'll take a look tomorrow.

Fixed!

I stopped using cspell as the dictionary provider and instead created my own port.
To update, reinstall `cargo-csc`, then run `rm -rf ~/.code-spellcheck`. After that run `cargo-csc import-dictionaries` and everything should work.

> * Doesn’t handle curl single quotes used as apostrophes, e.g. “help: Unknown word `don’t`.”

I just pushed up something to handle this.

> * It probably shouldn’t look in URLs for typos:
>   ```
>       ╭─[src/rfc7231/mod.rs:74:4]
>    73 │ //!
>    74 │ //! [RFC2045]: https://datatracker.ietf.org/doc/html/rfc2045#section-5.1
>       ·    ───────────────────────────────────┬──────────────────────────────────
>       ·                                       ╰── Typo here
>    75 │ //! [RFC4288]: https://datatracker.ietf.org/doc/html/rfc4288#section-4.2
>    76 │ //! [RFC6838]: https://datatracker.ietf.org/doc/html/rfc6838#section-4.2
>       ╰────
>     help: Unknown word `datatracker`.
>   ```

I'm still trying to find a clean way to fix this. I should come up with something soon.
